* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer {
  font-size: 30px;
  text-align: center;
}
main {
  padding: 10px;
  margin: 10;
}
.felkapcsolt {
  margin: 20px;
  padding: 10px;
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}
.lekapcsolt {
  margin: 20px;
  padding: 10px;
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
#lekapcsoltakSz {
  font-size: 70px;
  color: green;
}
.felkapcsolt:hover {
  cursor: pointer;
}
.lekapcsolt:hover {
  cursor: pointer;
}
#leiras {
  font-size: 30px;
}
